{% assign parent_collection = parent_collection | strip %}

{% capture collection_handles_arr_string %}
    {{ collection_1_handle }}::
    {{ collection_2_handle }}
{% endcapture %}

{% assign collection_handles_arr = collection_handles_arr_string | split: '::' %}


{% comment %} --------------------- {% endcomment %}

<div class="c-block-two-col-collections || c-section">
    <div class="o-container">
        {% if parent_collection != blank %}
            <div class="c-section_header">
                <h2 class="c-section_title">
                    {{collections[parent_collection].title}}
                </h2>

                <div>
                    <a href="{{collections[parent_collection].url}}" class="c-button -small -mono -dark -hover-fill-primary">
                        <span class="c-button_label">Shop all</span>
                    </a>
                </div>
            </div>
        {% endif %}

        <div class="c-block-two-col-collections_container">
            {% for collection_hanle in collection_handles_arr %}

                {% assign formatedCollection = collection_hanle | strip %}
                {% assign collection = collections[formatedCollection] %}

                <div class="c-block-two-col-collections_item || c-collection-tile">
                    <a href="{{collection.url}}" class="c-collection-tile_inner">
                        <div class="c-collection-tile_content">
                            <div class="c-collection-tile_content_ui">
                                <div class="c-button -transparent -small -hover-fill-primary">
                                    <span class="c-button_label">Shop</span>
                                </div>
                            </div>
                        </div>

                        <div class="c-collection-tile_figure || c-lazy">
                            <div class="c-collection-tile_figure_inner">
                                <img
                                    class="c-lazy_image || c-collection-tile_figure_image"
                                    src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E"
                                    {% if collection.image != blank %}
                                    data-src="{{ collection.image | img_url: '700x700' }}"
                                    data-scroll
                                    data-scroll-call="lazyLoad, Scroll"
                                    {% endif %}
                                    alt="{{collection.title}}"
                                >
                            </div>
                        </div>

                        <p class="c-block-two-col-collections_item_title || c-heading -aeonik -h6">
                            {{collection.title}}
                        </p>
                    </a>
                </div>

            {% endfor %}
        </div>
    </div>
</div>
