{% comment %} Titles {% endcomment %}

{% assign title_line_1 = title_line_1 | strip %}{% assign title_line_2 = title_line_2 | strip %}

{% comment %} CTA {% endcomment %}

{% assign cta = cta | strip %}

{% comment %} Other CTA {% endcomment %}
{% assign cta_description = cta_description | strip %}{% assign cta_button_label = cta_button_label | strip %}

{% comment %} RANDOM {% endcomment %}
{% assign min = 100000 %}
{% assign max = 999999 %}
{% assign diff = max | minus: min %}
{% assign randomNumber = 'now' | date: '%N' | modulo: diff | plus: min %}

{% comment %} --------------------- {% endcomment %}

<div class="c-section">
  <div class="o-container">
    <div class="c-splash">
      <div class="c-splash_container">
        <div class="c-splash_content">
          <div class="c-splash_content_col -flex -absolute@to-large">
            <span class="c-splash_data">A{{ randomNumber }}</span>

          </div>

          <div class="c-splash_content_col">
            <h2 class="c-heading -h2 -druk || c-splash_title">
              {% if title_line_1 != blank %}
                <span class="c-splash_title_item">{{ title_line_1 }}</span>
              {% endif %}

              {% if title_line_2 != blank %}
                <span class="c-splash_title_item">{{ title_line_2 }}</span>
              {% endif %}
            </h2>
          </div>

          <div class="c-splash_content_col -flex">
            {% if cta_description != blank %}
              <p class="c-heading -subtitle2 -aeonik || c-splash_info">
                {{ cta_description }}
              </p>
            {% endif %}

            {% if cta %}
              {% if cta_button_label != blank %}
                <div>
                  <a href="{{ cta }}" class="c-button -transparent -small -hover-fill-primary || c-splash_button">
                    <span class="c-button_label">{{ cta_button_label }}</span>
                  </a>
                </div>
              {% endif %}
            {% endif %}
          </div>
        </div>

        <div class="c-figure || c-splash_figure || c-lazy">
          {% if banner_bg_media == "video" and banner_video != blank %}

            <video
              class="c-lazy c-banner_video"
              poster="{{ banner_video.preview_image.src | img_url: 'master' }}"
              width="{{ banner_video.sources[1].width }}"
              height="{{ banner_video.sources[1].height }}"
              data-scroll
              data-scroll
              data-scroll-call="lazyLoad, Scroll"
              loop
              muted
              playsinline
              autoplay>
              <source src="{{ banner_video.sources[1].url }}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          {% else %}

            {% if image != blank %}
              <img
                class="desktop c-lazy_image || c-splash_image"
                src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 950'%3E%3C/svg%3E"
                {% if image contains '://' %}
                data-src="{{ image }}"
                data-scroll
                data-scroll-call="lazyLoad, Scroll"
                {% elsif image != blank %}
                data-src="{{ image | img_url: "1920x950", crop: 'center' }}"
                data-scroll
                data-scroll-call="lazyLoad, Scroll"
                {% endif %}
                alt="{{title_line_1}} {{title_line_2}}">
            {% endif %}

            {% if image_movil != blank %}
              <img
                class="movile c-lazy_image || c-splash_image"
                src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 950'%3E%3C/svg%3E"
                {% if image_movil contains '://' %}
                data-src="{{ image }}"
                data-scroll
                data-scroll-call="lazyLoad, Scroll"
                {% elsif image_movil != blank %}
                data-src="{{ image_movil | img_url: "1920x950", crop: 'center' }}"
                data-scroll
                data-scroll-call="lazyLoad, Scroll"
                {% endif %}>
            {% else %}
              <img
                class="c-lazy_image || c-splash_image"
                src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 950'%3E%3C/svg%3E"
                {% if image contains '://' %}
                data-src="{{ image }}"
                data-scroll
                data-scroll-call="lazyLoad, Scroll"
                {% elsif image != blank %}
                data-src="{{ image | img_url: "1920x950", crop: 'center' }}"
                data-scroll
                data-scroll-call="lazyLoad, Scroll"
                {% endif %}
                alt="{{title_line_1}} {{title_line_2}}">
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>