{% layout none %}

<!doctype html>
<html>
    <head>
        <title>{{ page_title }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="{{ page_description | escape }}">
        <link rel="canonical" href="{{ canonical_url }}">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | asset_url }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png' | asset_url }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png' | asset_url }}">
        <link rel="manifest" href="{{ 'site.webmanifest' | asset_url }}">
        <link rel="mask-icon" href="{ 'safari-pinned-tab.svg' | asset_url }}" color="#000000">
        <meta name="msapplication-TileColor" content="#000000">
        <meta name="theme-color" content="#000000">

        {{ content_for_header }} <!-- Header hook for plugins -->

        <style>
            .c-preloader{position:fixed;top:0;left:0;height:100%;width:100%;background-color:#111114;z-index:999;visibility:visible;opacity:1;display:flex;justify-content:center;align-items:center;color:#fff}html.is-first-hit .c-preloader{transition:opacity 0.2s linear 0.2s, visibility 0.2s linear 0.2s}html.is-first-hit .c-preloader .c-spinner{transition:opacity 0.2s linear 0.2s, visibility 0.2s linear 0.2s}html.is-loaded.is-fonts-loaded .c-preloader{visibility:hidden;opacity:0}html.is-loaded.is-fonts-loaded .c-preloader .c-spinner{opacity:0;visibility:hidden;animation-play-state:paused}.c-preloader .c-spinner{transition-duration:0s;opacity:1;visibility:visible;animation-play-state:running;position:absolute;top:50%}@keyframes spin{0%{transform:translate3d(0, -50%, 0) rotate(0deg)}100%{transform:translate3d(0, -50%, 0) rotate(360deg)}}.c-spinner{display:inline-block;width:100%;height:100%;border-radius:50%;pointer-events:none;opacity:0;visibility:hidden;transition:opacity .6s cubic-bezier(0.4, 0, 0, 1),visibility .6s cubic-bezier(0.4, 0, 0, 1);animation:spin 0.8s infinite linear;animation-play-state:paused;color:#00E2ED}.c-spinner.-preloader{position:absolute;top:auto;bottom:20px;right:40px;width:36px;height:36px}.c-spinner.is-active,.is-pending .c-spinner,.is-loading .c-spinner{opacity:1;visibility:visible;transition:opacity .6s cubic-bezier(0.4, 0, 0, 1),visibility 0s linear;animation-play-state:running}.c-spinner svg{display:block;width:100%;height:100%;stroke:currentColor;stroke-width:1px;fill:none;transition:stroke .6s cubic-bezier(0.4, 0, 0, 1)}
        </style>
        <link id="stylesheet" rel="stylesheet" href="{{ 'main.css' | asset_url }}" media="print" onload="this.media='all'; this.onload=null; this.isLoaded=true">
    </head>
    <body>

    {% include 'outdated' %}
      {% comment %}
          SVGS tags. Need to be included in templates because Shopify structure
          doesn't allow sprite.svg in /assets
      {% endcomment %}
      <div class="u-none">{% include 'sprite' %}</div>

        <div class="c-page">
            <div class="u-text-center">
                <a href="{{ shop.secure_url }}" class="c-challenge_logo">
                    <svg role="presentation" aria-label="Dr Dabber Logo">
                        <use xlink:href="#logotype"></use>
                    </svg>
                </a>
            </div>

            <div class="c-section">
                <div class="o-container -default">
                    <div class="u-text-center">
                        <h1 class="c-heading -druk -h3 -cyan">We're coming back soon</h1>

                        {% unless shop.password_message == blank %}
                            <p>{{ shop.password_message }}</p>
                        {% endunless %}
                    </div>
                </div>

                <div class="o-container -small || c-password" data-module-password>
                    <div class="c-form_wrapper || c-password_item -notify">
                        <h2 class="c-heading -subtitle1 -aeonik || c-form_title">
                            Get notified when we're back online
                        </h2>

                        {% form 'customer' %}
                            {{ form.errors | default_errors }}
                            {% if form.posted_successfully? %}
                                <p>Thanks for signing up!</p>
                            {% else %}
                                <input type="hidden" name="contact[tags]" value="prospect, password page">
                                <div class="c-form_item">
                                    <label for="email" class="c-form_label">Email address*</label>
                                    <input type="email" name="contact[email]" id="email" placeholder="Your email" class="c-form_input">
                                </div>
                            {% endif %}
                            <div class="c-form_bottom">
                                <div class="c-form_bottom_item">
                                    <input type="submit" value="Submit" class="c-button -transparent -hover-fill-primary">
                                </div>

                                <div class="c-form_bottom_item">
                                    <button class="c-form_link" type="button" data-password="toggler">Enter using password</button>
                                </div>
                            </div>
                        {% endform %}
                    </div>

                    <div class="c-form_wrapper || c-password_item -password">
                        <h2 class="c-heading -subtitle1 -aeonik || c-form_title">
                            Enter store using password
                        </h2>

                        {% form 'storefront_password' %}
                            {{ form.errors | default_errors }}
                            <div class="c-form_item">
                                <label for="password" class="c-form_label">Password*</label>
                                <input class="c-form_input" type="password" name="password">
                            </div>

                            <div class="c-form_bottom">
                                <div class="c-form_bottom_item">
                                    <input type="submit" value="Enter" class="c-button -transparent -hover-fill-primary">
                                </div>

                                <div class="c-form_bottom_item">
                                    <button class="c-form_link" type="button" data-password="toggler">Back</button>
                                </div>
                            </div>

                        {% endform %}
                    </div>
                </div>
            </div>
        </div>

        {{ 'vendors.js' | asset_url | script_tag }}
        {{ 'app.js' | asset_url | script_tag }}
    </body>
</html>
